*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    background-image: url("https://wallpapers.com/images/featured/cool-rick-and-morty-pictures-2qy1xyshw0h9uxk4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner{
    position:relative;
    width: 100%;
    height: 33rem;
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s ease-in-out;
    background-image: url(https://imgs.search.brave.com/qD8t6E4UCa7Z77dN7m6LIuxmd1s9gmUURM3GePmKqcg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2Q2L1JpY2tfYW5k/X01vcnR5X3RpdGxl/X2NhcmRfKGNyb3Bw/ZWQpLnBuZw);
    animation: banner 15s infinite linear;
}

@keyframes banner {
    0%{
        background-image: url(https://imgs.search.brave.com/qD8t6E4UCa7Z77dN7m6LIuxmd1s9gmUURM3GePmKqcg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2Q2L1JpY2tfYW5k/X01vcnR5X3RpdGxl/X2NhcmRfKGNyb3Bw/ZWQpLnBuZw);
    }
    25%{
        background-image: url(https://imgs.search.brave.com/qD8t6E4UCa7Z77dN7m6LIuxmd1s9gmUURM3GePmKqcg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2Q2L1JpY2tfYW5k/X01vcnR5X3RpdGxl/X2NhcmRfKGNyb3Bw/ZWQpLnBuZw);
    }
    26%{
        background-image: url(https://www.justwatch.com/images/backdrop/247575832/s1440/rick-y-morty/rick-y-morty);
    }
    50%{
        background-image: url(https://www.justwatch.com/images/backdrop/247575832/s1440/rick-y-morty/rick-y-morty);
    }
    51%{
        background-image: url(https://vod.roams.es/images/post/es_ES_vod/series-rick-y-morty.jpg);
    }
    75%{
        background-image: url(https://vod.roams.es/images/post/es_ES_vod/series-rick-y-morty.jpg);
    }
    76%{
        background-image: url(https://www.formulatv.com/images/series/1000/1524-f.jpg);
    }
    100%{
        background-image: url(https://www.formulatv.com/images/series/1000/1524-f.jpg);
    }
}


.btn-gender{
    text-align: center;
    margin-top: 1em;
}

button{
    background-color: #09021f;
    color: white;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 5px rgb(40, 255, 20),
    0 0 25px rgb(40, 255, 20), 0 0 50px rgb(40, 255, 20),
    0 0 100px rgb(40, 255, 20), 0 0 200px rgb(40, 255, 20);
}

.btn-todos, .btn-female, .btn-male, .btn-genderless, .btn-unknown{
    width: 8em;
    font-family: 'Creepster', cursive;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    padding: 0.2em;
    margin: 0.5em;
}

.finder-character {
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #09021f;
    padding: 1rem;
    color: white;
    text-align: center;
}

.intro p{
    font-family: 'Creepster', cursive;
    letter-spacing: 0.1em;
    background-color: #040535;
    padding: 1rem;
    border-radius: 5%;
    margin: 3em;
    text-align: center;
}

#container-all-characters{
    padding: 2rem;
}

#all-characters{
    font-family: 'Creepster', cursive;
    color: white;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
    background: #040535;
    padding: 0.3em;
}

.container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, aquamarine, #040535, aquamarine);
    gap: 2em;
    margin: 0 2em;
    border-radius: 5%;
}

.card, .card-seeMore{
    width: 12em;
    text-align: center;
    justify-content: center;
    margin: 1em 0;
}

.card img, .card-seeMore img {
   width: 10em;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}

#card-img:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.3);
   transition: 1s;
}

.card-description h2, .description-card-seeMore{
    font-size: 1.5rem;
    text-align: center;
    margin: 1em 0;
    font-family: 'Creepster', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1rem;
}

.description-card-seeMore, h2, p{
    color: rgb(221, 221, 223);
}

.btn-seeMore, .btn-return{
    width: 7em;
    height: 2em;
    font-size: 0.8rem;
}

.btn-return{
    margin-top: 1em;
}

.button-inf{
    text-align: center;
    margin-top: 1em;
}

.button-inf button{
    padding: 0.5em;
    width: 4em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 20em;
    background: black;
    text-align: center;
    color: white;
    font-family: sans-serif;
  }

iframe{
    padding: 1em;
}

.links{
    justify-content: center;
    text-align: center;
}
.links a{
    color: aquamarine;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
}

.footer .links{
    justify-content: center;
    text-align: center;
}

  @media (max-width: 420px){
    .banner{
        width: 100%;
        height: 12rem;
        object-fit: contain;
}
  }
